
body {
    background-color: #141d2f;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin:auto;
}

header {
    display: flex;
    flex-direction: row;        
    width: 75%;
    height: 100px; 
    justify-content: space-between ;   
}

.header-dev {
    display:flex;
    justify-content: start;
}

.header-img {
    display:flex;
    justify-content: end;
}

.light {
    display: none;
}

.dark {
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 200px;
    background-color:#1E2A47;
    border-radius: 15px; 
    margin-bottom: 20px;   
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;    
    height: 600px;
    background-color:#1E2A47;
    justify-content: space-between ;
}

.data-git {
    display: flex;
    width: 70%;    
    flex-direction: row;
    height: 350px;
    background-color: #141d2f;
    justify-content: space-between;
}

.data-users {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between ;
    height: 100px;
}