#test {
    display: flex;    
    background-color: #141d2f;
    color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;    
    font-family: 'Space Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 75%;    
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}


header {
    display: flex;
    flex-direction: row;        
    width: 75%;
    height: 15%;
    justify-content: space-between ;   
}

.header-dev {
    display:flex;
    justify-content: start;
    gap: 5px;
}

.header-img {
    display: flex;    
    justify-content: end;
    gap: 5px;
}

nav {
    display: flex;    
    width: 75%;
    height: 15%;
    background-color:#1E2A47;
    border-radius: 15px;    
    align-items: center;      
}

nav .nav-img {
    display: flex;
    padding-left: 1rem;
}

.nav-search {
    display: flex;
    width: 100%;
}

.nav-submit {
    display: flex;
    padding-right: 1rem;
    border-radius: 10px;   
}

input[type=text]{ 
    background-color: #1E2A47;
    border: none;
    width: 42rem;
    height: 90%;
    padding-left: 2rem;
    color: white;
}

input::placeholder {
    font-size: 1.3rem;    
    color: #FFFFFF;    
    font-family: 'Space Mono', monospace;
}

/* .hidden {
    display: none;
} */


input[type=submit] {
    border-radius: 15px;
    border: none;
    width: 7rem;
    height: 4rem;
    color: white;
    background-color: #0079FF;
}


#light {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;            
}

#dark {
    display: none;
    align-items: center;
    justify-content: end; 
    gap: 10px;     
}

main {
    display: grid;
    flex-direction: column;    
    width: 75%;
    height: 80%;    
    background-color:#1E2A47;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.data-avatar {
    display: flex;
}

.avatar {
    display: none;
}

.avatar img{
    border-radius: 290%;
    width: 15%;
    height: 50%;    
       
}

.joined {
    padding-left: 3%;    
}


.data-git {
    display: flex;
    width: 600px;    
    flex-direction: row;    
    height: 100px;
    background-color: #141d2f;
    justify-content: space-around;
    border-radius: 15px;   
}

.data-users {
    display: flex;
    flex-direction: column;    
    width: 100%;
    justify-content: space-between;    
    
}

  
   

