
body {
    background-color:cornflowerblue;
}

.container {
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
}

header {
    display: flex;
    flex-direction: row;    
    width: 75%;
}

nav {
    display: flex;
    flex-direction: row;
    width: 75%;
}

main {
    display: flex;
    flex-direction: column;
    width: 75%;

}

.data-git {
    display: flex;
    flex-direction: row;
}

.data-users {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}