.container {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #141d2f; 
    justify-content: center;
    align-items: center;
}


.object {
    display: flex;
    flex-direction: column;
    background-color: #141d2f;
    width: 60%;
    height: 60%;
    gap: 10px;   
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #141d2f;    
    width: 100%;
    height: 10%;
    justify-content: space-between;
}

.header__dev {
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;

}

.header__img {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

#light {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

#dark {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}


.nav {
    display: flex;    
    background-color:#1E2A47;
    width: 100%;
    height: 15%; 
    justify-content:space-between;
    align-items: center;
    border-radius:10px;          
}

.nav .search-img {
    display: flex;
    width: 10%;
    height: 45%;
    padding-left: 20px;
}

.nav .search-input {
    display: flex;
    width: 80%;
    height: 80%;
    background-color:#1E2A47;    
}

.nav .search-submit {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: end;
    align-items: center;
    padding-right: 20px;    
}



.main {
    display: flex;
    flex-direction: row;
    background-color:#1E2A47;
    width: 100%;
    height: 60%;
    border-radius:15px;
}


.footer {
    display: flex;
    flex-direction: row;
    background-color:darkslategray;
    width: 100%;
    height: 20%;
}